/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral;
}

.c-w-40 {
    width: calc(100% - theme('spacing.40'));
}

.c-w-results {
    width: calc(100% - 10rem);
}

.c-w-collection {
    width: calc(100% - 130px);
}

.c-h-page-lg {
    height: calc(100% - 105px);
}

.c-h-page {
    height: calc(100% - 188px);
}

.collection-img {
    max-width: 1rem;
    max-height: 1rem;
}


.switch-button {
    top: calc(100% - 2rem);
}

.switch-button-front {
    left: calc(100% - 2rem);
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #1235ba;
    border-bottom: 1rem solid #1235ba;
    border-bottom-right-radius: 1rem;
}

.switch-button-back {
    right: calc(100% - 2rem);
    border-top: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #1235ba;
    border-left: 1rem solid #1235ba;
    border-bottom-left-radius: 1rem;
}

.error-note-size {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-width: 250px;
    max-height: 100px;
}

.c-size-mint {
    width: calc(100% - 0.6rem);
    top: calc(100% - 10.6rem);
}

.mint-info-width {
    width: fit-content;
}

.colletion-title-position {
    top: -190px;
    left: 60px;
}